<!DOCTYPE html>
<main>
    <h1 class="main_title">טופס יצירת קשר</h1>    
    <table class="table">
        <thead>
            <tr>
                <th>חברה</th>
                <th>איימל</th>
                <th>שם מלא</th>
                <th>טלפון</th>
                <th>טקסט</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.company_name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.full_name }}</td>
                <td>{{ data.phone_number }}</td>
                <td>{{ data.text }}</td>
            </tr>        
        </tbody>
    </table>
    </div>
</main>